cleaning and organising crime data

In [64]:
#imports
import pandas as pd
from datetime import datetime

In [65]:
#import files to clean and combine
Armadale_csv = "input_data/armadale_crime_data.csv"
Cannington_csv = "input_data/cannington_crime_data.csv"
Fremantle_csv = "input_data/fremantle_crime_data.csv"
Joondalup_csv = "input_data/Joondalup_crime_data.csv"
Mandurah_csv = "input_data/mandurah_crime_data.csv"
Midland_csv = "input_data/midland_crime_data.csv"
Mirrabooka_csv = "input_data/mirrabooka_crime_data.csv" 
Perth_csv = "input_data/perth_crime_data.csv "
Southwest_csv = "input_data/south_west_crime_data.csv"

Conor1_csv = "input_data/Conor1_csv.csv"

In [66]:
#create dataframes
Armadale_df = pd.read_csv(Armadale_csv)
Cannington_df = pd.read_csv(Cannington_csv)
Fremantle_df = pd.read_csv(Fremantle_csv)
Joondalup_df = pd.read_csv(Joondalup_csv)
Mandurah_df = pd.read_csv(Mandurah_csv)
Midland_df = pd.read_csv(Midland_csv)
Mirrabooka_df = pd.read_csv(Mirrabooka_csv)
Perth_df = pd.read_csv(Perth_csv)
Southwest_df = pd.read_csv(Southwest_csv)

Conor1_df = pd.read_csv(Conor1_csv)

In [67]:
#Armadale_df

In [68]:
#Cannington_df.info()

In [69]:
#Fremantle_df

In [70]:
#Joondalup_df.info()

In [71]:
#Mandurah_df.info()

In [72]:
#Midland_df.info()

In [73]:
#Mirrabooka_df.info()

In [74]:
#Perth_df.info()

In [75]:
Armadale_df.tail()

,Month and Year,Homicide Total,Assault (Family) Total,Assault (Non-Family) Total,Stealing of Motor Vehicle,Stealing Total,Property Damage Total,Arson Total,Drug Offences Total,Regulated Weapons Offences
187,1/08/2022,0,140,91,51,522,171,6,210,30
188,1/09/2022,0,171,83,41,647,278,7,132,21
189,1/10/2022,2,170,93,42,695,184,5,171,39
190,1/11/2022,0,169,95,52,584,169,3,158,19
191,1/12/2022,0,176,105,32,554,180,7,155,28

In [76]:
Conor1_df.tail()

,District,Station,x,y,longitude,latitude,date,Homicide Total,Assault (Family) Total,Assault (Non-Family) Total,Stealing of Motor Vehicle,Stealing Total,Property Damage Total,Arson Total,Drug Offences Total,Regulated Weapons Offences
587,South West,Bunbury,115.635115,-33.32632,115.635115,-33.32632,1/12/2018,2,116,74,46,626,192,6,233,26
588,South West,Bunbury,115.635115,-33.32632,115.635115,-33.32632,1/12/2019,0,145,67,52,654,208,8,265,48
589,South West,Bunbury,115.635115,-33.32632,115.635115,-33.32632,1/12/2020,1,158,65,42,362,201,5,205,25
590,South West,Bunbury,115.635115,-33.32632,115.635115,-33.32632,1/12/2021,0,146,108,23,429,194,22,198,30
591,South West,Bunbury,115.635115,-33.32632,115.635115,-33.32632,1/12/2022,2,162,88,44,448,201,7,131,21

In [77]:
# add district columns
Armadale_df.insert(loc=0, column='district', value='Armadale')
Cannington_df.insert(loc=0, column='district', value='Cannington')
Fremantle_df.insert(loc=0, column='district', value='Fremantle')
Joondalup_df.insert(loc=0, column='district', value='Joondalup')
Mandurah_df.insert(loc=0, column='district', value='Mandurah')
Midland_df.insert(loc=0, column='district', value='Midland')
Mirrabooka_df.insert(loc=0, column='district', value='Mirrabooka')
Perth_df.insert(loc=0, column='district', value='Perth')
Southwest_df.insert(loc=0, column='district', value='South West')

In [78]:
#concatenate the dataframes

combined_crime_df = pd.concat([Armadale_df,Cannington_df,Fremantle_df,Joondalup_df,Mandurah_df,Midland_df,Mirrabooka_df,Perth_df,Southwest_df])

combined_crime_df

,district,Month and Year,Homicide Total,Assault (Family) Total,Assault (Non-Family) Total,Stealing of Motor Vehicle,Stealing Total,Property Damage Total,Arson Total,Drug Offences Total,Regulated Weapons Offences
0,Armadale,1/01/2007,0,73,68,73,582,306,10,90,9
1,Armadale,1/02/2007,0,55,61,72,568,260,9,102,14
2,Armadale,1/03/2007,1,62,77,71,601,268,13,86,13
3,Armadale,1/04/2007,0,42,88,46,500,245,12,144,5
4,Armadale,1/05/2007,0,40,86,50,592,253,6,138,22
...,...,...,...,...,...,...,...,...,...,...,...
187,South West,1/08/2022,1,134,83,44,439,154,5,173,18
188,South West,1/09/2022,3,131,101,30,491,205,1,173,23
189,South West,1/10/2022,0,133,98,27,476,186,3,120,33
190,South West,1/11/2022,0,143,90,50,516,215,3,180,16
191,South West,1/12/2022,2,162,88,44,448,201,7,131,21

In [79]:
combined_crime_df = combined_crime_df.reset_index(drop=True)

In [80]:
#export as csv

combined_crime_df.to_csv("output_data/combined_crime_data.csv", index=False)

Conor1_df.to_csv("output_data/conor1_cleaned_data.csv", index =False)