cleaning and organising crime data

In [4]:
#imports
import pandas as pd
from datetime import datetime

In [5]:
#import files to clean and combine
Armadale_csv = "input_data/armadale_crime_data.csv"
Cannington_csv = "input_data/cannington_crime_data.csv"
Fremantle_csv = "input_data/fremantle_crime_data.csv"
Joondalup_csv = "input_data/Joondalup_crime_data.csv"
Mandurah_csv = "input_data/mandurah_crime_data.csv"
Midland_csv = "input_data/midland_crime_data.csv"
Mirrabooka_csv = "input_data/mirrabooka_crime_data.csv" 
Perth_csv = "input_data/perth_crime_data.csv "
Southwest_csv = "input_data/south_west_crime_data.csv"

Conor1_csv = "input_data/Conor1_csv.csv"

In [6]:
#create dataframes
Armadale_df = pd.read_csv(Armadale_csv)
Cannington_df = pd.read_csv(Cannington_csv)
Fremantle_df = pd.read_csv(Fremantle_csv)
Joondalup_df = pd.read_csv(Joondalup_csv)
Mandurah_df = pd.read_csv(Mandurah_csv)
Midland_df = pd.read_csv(Midland_csv)
Mirrabooka_df = pd.read_csv(Mirrabooka_csv)
Perth_df = pd.read_csv(Perth_csv)
Southwest_df = pd.read_csv(Southwest_csv)

Conor1_df = pd.read_csv(Conor1_csv)

In [7]:
#Armadale_df

In [8]:
#Cannington_df.info()

In [9]:
#Fremantle_df

In [10]:
#Joondalup_df.info()

In [11]:
#Mandurah_df.info()

In [12]:
#Midland_df.info()

In [13]:
#Mirrabooka_df.info()

In [14]:
#Perth_df.info()

In [15]:
#Armadale_df.tail()

In [16]:
#Conor1_df.tail()

In [17]:
# add district columns
Armadale_df.insert(loc=0, column='district', value='Armadale')
Cannington_df.insert(loc=0, column='district', value='Cannington')
Fremantle_df.insert(loc=0, column='district', value='Fremantle')
Joondalup_df.insert(loc=0, column='district', value='Joondalup')
Mandurah_df.insert(loc=0, column='district', value='Mandurah')
Midland_df.insert(loc=0, column='district', value='Midland')
Mirrabooka_df.insert(loc=0, column='district', value='Mirrabooka')
Perth_df.insert(loc=0, column='district', value='Perth')
Southwest_df.insert(loc=0, column='district', value='South West')

In [18]:
#concatenate the dataframes

combined_crime_df = pd.concat([Armadale_df,Cannington_df,Fremantle_df,Joondalup_df,Mandurah_df,Midland_df,Mirrabooka_df,Perth_df,Southwest_df])

combined_crime_df.head()

,district,Month and Year,Homicide Total,Assault (Family) Total,Assault (Non-Family) Total,Stealing of Motor Vehicle,Stealing Total,Property Damage Total,Arson Total,Drug Offences Total,Regulated Weapons Offences
0,Armadale,1/01/2007,0,73,68,73,582,306,10,90,9
1,Armadale,1/02/2007,0,55,61,72,568,260,9,102,14
2,Armadale,1/03/2007,1,62,77,71,601,268,13,86,13
3,Armadale,1/04/2007,0,42,88,46,500,245,12,144,5
4,Armadale,1/05/2007,0,40,86,50,592,253,6,138,22

In [19]:
combined_crime_df = combined_crime_df.reset_index(drop=True)

In [20]:
#export as csv

combined_crime_df.to_csv("output_data/combined_crime_data.csv", index=False)

Conor1_df.to_csv("output_data/conor1_cleaned_data.csv", index =False)